mjrengo @ git+https://github.com/jp-rad/mjrengo.git@main#subdirectory=mjrengo
mjrengo_data_mj @ git+https://github.com/jp-rad/mjrengo.git@main#subdirectory=mjrengo_data_mj
mjrengo_data_mj_plus @ git+https://github.com/jp-rad/mjrengo.git@main#subdirectory=mjrengo_data_mj_plus
